<script>
    function area(){
    var b = document.getElementById('b').valueAsNumber;
    console.log(b);

    var result= 3.14*b*b;
    console.log(result);

    document.getElementById('circle').innerText=result;
    }

    function perimeter(){
    var b = document.getElementById('b').valueAsNumber;
    console.log(b);

    var result= 2*3.14*b;
    console.log(result);

    document.getElementById('circle').innerText=result;

    }

</script>

<div class="parent">
    <div class="child">

    <h1><b>Circle</b></h1>
    <hr>
    <label for="">Radius:</label><br>
    <input type="number" [(ngModel)]="b"> <br>
    

    <button [disabled]="!b" (click)="area()" ><b>Area</b></button> &nbsp;
    <button [disabled]="!b" (click)="perimeter()"><b>Perimeter</b></button> &nbsp;

    <h2>Result is: {{result}}</h2>
    
    </div>

</div>