<div class="parent">
    <div class="left">
        <h1>Dashboard</h1>
        <hr>
        <h5 routerLink="home">Home</h5>
        <h5 routerLink="welcome">Welcome</h5>
        <h5 routerLink="data-binding">Data Binding</h5>
        <h5 routerLink="calculator">Calculator</h5>
        <h5 routerLink="rectangle">Rectangle</h5>
        <h5 routerLink="circle">Circle</h5>
        <h5 routerLink="bmi">BMI</h5>
        <h5 routerLink="directives">Directives</h5>
        <h5 routerLink="employee">Employee</h5>
        <h5 routerLink="flipkart">Flipkart</h5>
        <h5 routerLink="vehicle">Vehicle</h5>
        <h5 routerLink="account">Account</h5>
        <h5 routerLink="myntra">Myntra</h5>
        <h5 routerLink="mail">Mail</h5>
        <h5 routerLink="pinterest">Pinterest</h5>
        <h5 routerLink="weather">Weather</h5>
        <h5 routerLink="blog">Blog</h5>
        <h5 routerLink="movie">Movie</h5>
        <h5 routerLink="profile">Profile</h5>
        <h5 routerLink="studentcard">Student Card</h5>
        <h5 routerLink="create-user">Create User</h5>
        <h5 routerLink="create-student">Create Student</h5>
        <h5 routerLink="hooks">Hooks</h5>
        <h5 routerLink="sibling1">Sibling1</h5>
        <h5 routerLink="sibling2">Sibling2</h5>
        <h5 routerLink="text-area">Text-Area</h5>
        <h5 routerLink="to-do-list">To-Do-List</h5>

        <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>
