body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.parent{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: rgb(176, 142, 142);
    color: white;
    padding-left: 20px;
}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(70, 193, 113);
    color: black;
}