body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.parent{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: rgb(63, 63, 63);
    color: white;
    padding-left: 20px;
}
.right{
    width: 80%;
    height: 100%;
    background-color: rgb(147, 95, 163);
    color: black;
    overflow: auto;
}